/*----------------generelle indstillinger---------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: none;


}

img {
    width: 100%;

}

h1 {
    font-family: 'Heebo', sans-serif;
    font-size: 15rem;
    text-transform: uppercase;
}

h2 {
    font-family: 'Arimo', sans-serif;
    font-size: 2rem;

}

h3 {
    font-family: 'Arimo', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}


p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

li {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;

}

/*--------------------menu -----------------*/

.hidden {
    transform: translateX(-100%);
    opacity: 0;
    display: none;
}

#menuknap {
    display: inline-block;
    color: white;
    margin: 0.5rem;
}

#dropdown {

    top: 10vw;
    right: 33vw;
    display: block;

}


#logo {

    height: 11vw;
    width: 11vw;
    background-size: cover;
    position: absolute;
    top: -0.5vw;
    left: 0vw;
}

header {
    width: 100vw;
    background-color: black;
    position: fixed;
    z-index: 100;

}

@media only screen and (min-width:800px) {

    #logo {

        height: 5.5vw;
        width: 5.5vw;

        background-size: cover;
        position: absolute;
        top: -0.5vw;
        left: 0vw;
    }
}





header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;

}


header nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: black;
    padding: 0.5vw;


}

nav ul li:hover ul {
    display: block;

}


header a {
    padding: 0.5rem;
    display: flex;
    color: white;
}


header a:hover {
    color: orange;
}



/**** media indstillinger **/

@media only screen and (min-width:800px) {

    #menuknap {
        display: none;
    }

    .hidden {
        transform: translateX(0);
        opacity: 1;
        display: inline-block;
    }

    header li {
        display: inline-block;
        letter-spacing: 1px;

    }

    header nav {
        padding: 0.1rem;
    }


    header nav li {
        padding: 0.3rem;

        margin: 0.8rem;
        text-decoration: none;
        color: black;

        padding-top: 0vw;

    }

    header a:hover {
        color: orange;
    }

    #dropdown {
        display: none;
        top: 3.5vw;
        right: 8vw;
        position: absolute;

    }

    header nav li:hover #dropdown {
        display: flex;
        flex-direction: column;


    }




    /* #logo_splash {
     background-image: url(baggrund/logo.png);
     height: 30vw;
     width: 60vw;
     background-size: cover;
     position: absolute;
     top: 20vw;
     left: 20vw;
 }*/
}

@media only screen and (min-width:1500px) {

    #logo {

        height: 5.5vw;
        width: 5.5vw;

        background-size: cover;
        position: absolute;
        top: -0.5vw;
        left: 0vw;
    }

    header {
        width: 100vw;
        height: 5vw;
        background-color: black;
        position: fixed;
        z-index: 100;

    }

    header nav a {
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        font-family: 'Heebo', sans-serif;
        font-size: 2rem;

    }

    header nav li {
        padding-top: 1vw;
    }


}




/*------------ forside splash ---------*/




.mobil_splash {


    width: 100vw;
    height: 100vh;
    background-image: url(splash/Artboard_2.png);
    background-size: cover;
    padding-top: 2vw;



}



@media only screen and (min-width:1000px) {
    #splash {
        padding-top: 5vw;
    }

    .desktop_splash {

        width: 100vw;
        height: 56.25vw;
        background-image: url(splash/Artboard_1.png);
        background-size: cover;



    }


    .mobil_splash {

        display: none;

    }
}

@media only screen and (min-width:1500px) {
    #splash {
        padding-top: 5vw;
    }

    .desktop_splash {

        width: 100vw;
        height: 56.25vw;
        background-image: url(splash/Artboard_1.png);
        background-size: cover;



    }


    .mobil_splash {

        display: none;

    }
}


/*-------------portfolio--------*/

/*--------tilbage-----*/


.back {
    border-radius: 4px;

    border: none;
    color: #FFFFFF;


    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    padding: 1.5rem;
    width: 10vw;


    margin: 4vw 0 0 0;
    display: block;
    text-transform: uppercase;
    position: fixed;

    z-index: 20;
}

.back span {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    transition: 0.5s;
    font-size: 2rem;
}

.back span:after {
    content: 'tilbage';
    position: relative;
    opacity: 0;
    top: 0;
    right: -1vw;
    padding-left: 0.5vw;
    transition: 0.5s;
}

.back:hover span {
    padding-right: 25px;
}

.back:hover span:after {
    opacity: 1;
    right: 0;
}

/*----portfolio site -----*/

#portfolio {
    background-image: url("baggrund/fade_mobil.png");
    background-repeat: no-repeat;
    background-size: cover;

}

#portfolio h1 {
    color: white;
    top: 20vw;
    left: 20vw;
    padding: 12vw 0vw 0vw 8vw;
    font-size: 4rem;



}


@media only screen and (min-width:1000px) {

    #portfolio {
        background-image: url("baggrund/fade_web.png");
        background-repeat: no-repeat;
        background-size: cover;



    }


    #portfolio h1 {
        color: white;
        top: 30vw;
        left: 20vw;
        padding: 8vw 0vw 0vw 2vw;
        font-size: 4rem;




    }
}




#portfolio section {
    max-width: 1200px;
    margin: 0 auto;

}

#portfolio h2 {
    padding-left: 5vw;
}



#web .sectionwrapper {

    padding-top: 5vw;
    display: flex;
    flex-wrap: wrap-reverse;
}

#web .narrow {
    flex-grow: 1;
    flex-basis: 300px;

    padding: 2px;
    background-color: rgba(255, 255, 255, 0.5);

}

#web .wide {

    flex-grow: 3;
    flex-basis: 600px;

    padding: 2vw 2vw;
    background-color: rgba(255, 255, 255, 0.5);

}





#portfolio .text {
    padding: 5vw;

    margin-top: 1vw;
}


#ux .sectionwrapper {
    padding-top: 1vw;
    display: flex;
    flex-wrap: wrap;
}

#ux .narrow {
    flex-grow: 1;
    flex-basis: 300px;

    padding: 2px;
    background-color: rgba(255, 255, 255, 0.5);

}

#ux .wide {

    flex-grow: 3;
    flex-basis: 600px;

    padding: 2vw 2vw;
    background-color: rgba(255, 255, 255, 0.5);
}

#animation .sectionwrapper {
    padding-top: 1vw;
    display: flex;
    flex-wrap: wrap-reverse;
}

#animation .narrow {
    flex-grow: 1;
    flex-basis: 300px;

    padding: 2px;
    background-color: rgba(255, 255, 255, 0.5);

}

#animation .wide {

    flex-grow: 3;
    flex-basis: 600px;
    ;
    padding: 2vw 2vw;
    background-color: rgba(255, 255, 255, 0.5);
}

#indhold .sectionwrapper {
    padding: 1vw 0vw 5vw 0vw;
    display: flex;
    flex-wrap: wrap;
}

#indhold .narrow {
    flex-grow: 1;
    flex-basis: 300px;

    padding: 2px;
    background-color: rgba(255, 255, 255, 0.5);
}

#indhold .wide {

    flex-grow: 3;
    flex-basis: 600px;

    padding: 2vw 2vw;
    background-color: rgba(255, 255, 255, 0.5);
}




/*--------knapper--------*/





.button img {

    width: 30vw;
    height: 17vw;
    background-size: cover;


}

.button {
    margin-left: 30vw;
    cursor: pointer;
}

@media only screen and (min-width:1000px) {
    .button img {

        width: 15vw;
        height: 7vw;
        background-size: cover;

    }

    .button {
        margin-left: 16vw;
        position: relative;
    }




}




.button img:hover {
    animation-name: button_hover;
    animation: button_hover 2s forwards;
    animation-iteration-count: infinite;



}

@keyframes button_hover {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

/*-------web -----*/

#tema2 {
    background-image: url("baggrund/fade_mobil.png");
    background-repeat: no-repeat;
    background-size: cover;


}

#tema2 h1 {
    color: white;
    top: 20vw;
    left: 20vw;
    padding: 10vw 0vw 0vw 8vw;
    font-size: 3.5rem;
}

#tema2 section {
    max-width: 1200px;
    margin: 0 auto;

}

#tema2 .sectionwrapper {

    padding: 5vw 0 0 0;
    display: flex;
    flex-wrap: wrap;
    margin: 1vw;
}

#tema2 .narrow {
    flex-grow: 1;
    flex-basis: 400px;

    padding: 2vw 2vw;
    background-color: white;

}

#tema2 .wide {

    flex-grow: 3;
    flex-basis: 600px;

    padding: 2vw 2vw;
    background-color: white;
}

#tema2 .text {
    padding: 4vw;



}

#tema2 h2 {
    margin-top: 1vw;
    text-align: center;

}

#tema2 h3 {
    margin-top: 2vw;
    padding-left: 4vw;

}


@media only screen and (min-width:900px) {
    #tema2 .sectionwrapper {
        padding: 5vw 12vw 0 12vw;
    }

    h1 {
        padding: 8vw 0vw 0vw 8vw;

    }
}


.but img {

    width: 30vw;
    height: 17vw;
    background-size: cover;


}

.but {
    /* margin-left: 30vw;*/
    cursor: pointer;
}

@media only screen and (min-width:1000px) {
    .but img {

        width: 10vw;
        height: 6vw;
        background-size: cover;

    }

    .but {
        /*margin-left: 16vw;*/
        position: relative;
    }




}


/*--------ux -------*/

#tema3 {
    background-image: url("baggrund/fade_mobil.png");
    background-repeat: no-repeat;
    background-size: cover;


}

#tema3 h1 {
    color: white;
    top: 20vw;
    left: 20vw;
    padding: 10vw 0vw 0vw 8vw;
    font-size: 3.5rem;
}

#tema3 section {
    max-width: 1200px;
    margin: 0 auto;

}

#tema3 .sectionwrapper {

    padding: 5vw 0 0 0;
    display: flex;
    flex-wrap: wrap;
    margin: 1vw;
}

#tema3 .narrow {
    flex-grow: 1;
    flex-basis: 400px;

    padding: 2vw 2vw;
    background-color: rgba(255, 255, 255, 0.5);

}

#tema3 .wide {

    flex-grow: 3;
    flex-basis: 600px;

    padding: 2vw 2vw;
    background-color: rgba(255, 255, 255, 0.5);

}

#tema3 .text {
    padding: 4vw;



}

#tema3 h2 {
    margin-top: 1vw;
    text-align: center;

}

#tema3 h3 {
    margin-top: 1vw;
    padding-left: 4vw;

}

@media only screen and (min-width:900px) {
    #tema3 .sectionwrapper {
        padding: 5vw 12vw 0 12vw;
    }

    h1 {
        padding: 8vw 0vw 0vw 8vw;

    }
}

/*------animation -----*/
#tema4 {
    background-image: url("baggrund/fade_mobil.png");
    background-repeat: no-repeat;
    background-size: cover;


}

#tema4 h1 {
    color: white;
    top: 20vw;
    left: 20vw;
    padding: 10vw 0vw 0vw 8vw;
    font-size: 3.5rem;
}

#tema4 section {
    max-width: 1200px;
    margin: 0 auto;

}

#tema4 .sectionwrapper {

    padding: 5vw 0 0 0;
    display: flex;
    flex-wrap: wrap;
    margin: 1vw;
}

#tema4 .narrow {
    flex-grow: 1;
    flex-basis: 400px;

    padding: 2vw 2vw;
    background-color: rgba(255, 255, 255, 0.5);

}

#tema4 .wide {

    flex-grow: 3;
    flex-basis: 600px;

    padding: 2vw 2vw;
    background-color: rgba(255, 255, 255, 0.5);

}

#tema4 .text {
    padding: 4vw;



}

#tema4 h2 {
    margin-top: 1vw;
    text-align: center;

}

#tema4 h3 {
    margin-top: 1vw;
    padding-left: 4vw;

}


@media only screen and (min-width:900px) {
    #tema4 .sectionwrapper {
        padding: 5vw 12vw 0 12vw;
    }

    h1 {
        padding: 8vw 0vw 0vw 8vw;

    }
}

/*-------indhold -------*/
#tema5 {
    background-image: url("baggrund/fade_mobil.png");
    background-repeat: no-repeat;
    background-size: cover;


}

#tema5 h1 {
    color: white;
    top: 20vw;
    left: 20vw;
    padding: 10vw 0vw 0vw 8vw;
    font-size: 3.5rem;
}

#tema5 section {
    max-width: 1200px;
    margin: 0 auto;

}

#tema5 .sectionwrapper {

    padding: 5vw 0 0 0;
    display: flex;
    flex-wrap: wrap;
    margin: 1vw;
}

#tema5 .narrow {
    flex-grow: 1;
    flex-basis: 400px;

    padding: 2vw 2vw;
    background-color: rgba(255, 255, 255, 0.5);

}

#tema5 .wide {

    flex-grow: 3;
    flex-basis: 600px;

    padding: 2vw 2vw;
    background-color: rgba(255, 255, 255, 0.5);

}

#tema5 .text {
    padding: 4vw;



}

#tema5 h2 {
    margin-top: 1vw;
    text-align: center;

}


#tema5 h3 {
    margin-top: 1vw;
    padding-left: 4vw;

}


@media only screen and (min-width:900px) {
    #tema5 .sectionwrapper {
        padding: 5vw 12vw 0 12vw;
    }

    h1 {
        padding: 8vw 0vw 0vw 8vw;

    }
}

/*-------om mig -------*/
#om {
    background-image: url("baggrund/fade_mobil.png");
    background-repeat: no-repeat;
    background-size: cover;


}

#om h1 {
    color: white;
    top: 20vw;
    left: 20vw;
    padding: 10vw 0vw 0vw 8vw;
    font-size: 3.5rem;
}

#om h2 {
    margin-top: 1vw;
    text-align: center;
}



#om section {
    min-width: 1200px;
    margin: 0 auto;

}

#om .sectionwrapper {

    padding: 5vw 0 0 0;
    display: flex;
    flex-wrap: wrap;
    margin: 2vw;
}

#om .narrow {
    flex-grow: 1;
    flex-basis: 400px;

    padding: 2vw 2vw;
    background-color: white;

}

#om .wide {

    flex-grow: 3;
    flex-basis: 600px;

    padding: 2vw 2vw;
    background-color: white;


}

#om .text {
    padding: 4vw;



}

#om p {
    line-height: 21px;
    margin: 2vw;
}

@media only screen and (min-width:900px) {
    #om .sectionwrapper {
        padding: 2vw 8vw 2vw;
        8vw;
        margin: 0vw;
    }

    #om h1 {
        padding: 8vw 0vw 0vw 8vw;

    }
}


.butn img {

    width: 30vw;
    height: 17vw;
    background-size: cover;


}

.butn {
    margin-left: 30vw;
    cursor: pointer;
}

@media only screen and (min-width:1000px) {
    .butn img {

        width: 12vw;
        height: 8vw;
        background-size: cover;

    }

    .butn {
        margin-left: 16vw;
        position: relative;
    }




}

.button img:hover {
    animation-name: button_hover;
    animation: button_hover 2s forwards;
    animation-iteration-count: infinite;



}

@keyframes button_hover {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}


/*---footer-----*/



footer .sectionwrapper {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    /*husk at få tingende til at ligge midt i på web
    Link til social medier*/


}

footer .col {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 0.5vw;
    margin: 1vw 1vw 0.2vw 1.5vw;


}

footer h3 {
    color: white;
    padding-bottom: 0.5vw;
}

footer p {
    color: white;
    padding: 0.5vw;
    font-size: 0.8rem;
}
